*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgba(0, 0, 255, 0.164);
}
/* -------------------------------start of nav ---------------------------------- */
nav{
    position: relative;
    display: flex;
    padding: 12px;
    background-color: white;
    padding-left: 80px;
    justify-content: space-between;
    padding-bottom: 20px;
}
                        /* ------------ start the list bottun ---------------- */
nav .content_list{
    position: absolute;
    width: 40px;
    height: 27px;
    right: 80px;    
    top: 23px;
    padding: 1px;
}
nav .content_list div{
    width: 39px;
    height: 2.5px;
    background-color: black;
    margin-bottom: 6px;
}

nav .content_list div:nth-child(2){
    visibility: hidden;
}
nav .content_list::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 2.5px;
    background-color: black;
    margin-bottom: 6px;
    top: 35%;
    right: 1px;
}
nav .content_list:hover::before{
    width: 38px;
    animation-name: full_width;
    animation-duration: 0.5s;
}
nav .content_list ul{
    position: relative;
    list-style-type: none;
    list-style-position: inside;
    visibility: hidden;
    background-color: #F6F6F6;
    width: 160px;
    padding: 10px;
    margin-top: 10px;
    right: 140px;
    z-index: 100;
}
nav .content_list ul:hover{
    opacity: 100%;
    visibility: visible;
}
nav .content_list ul::after{
    content: "";
    position: absolute;
    border: 10px solid blue;
    border-color: transparent transparent #F6F6F6 transparent;
    top: -6px;
    left: 90%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
nav .content_list ul::before{
    content: "";
    position: absolute;
    top: -30px;
    right: -20px;
    width: 40px ;
    height: 24px;
    z-index: 100;
    visibility: visible;
    
}
nav .content_list ul li{
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
    padding-right: 80px;
    padding-left: 10px;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.39);
}
nav .content_list ul li:last-child{
    border-bottom: none;
}
nav .content_list ul li:hover{
    padding-left: 30px;
    animation-name: moving_text;
    animation-duration: 0.7s;
}
nav .content_list ul li button{
    width: fit-content;
    background-color: transparent;
    border: none;
    font-size: 18px;
}
                        /* ------------ end the list bottun ---------------- */


/* -------------------------------end of nav ---------------------------------- */
                                        /* -
                                        -
                                        - */
/* -------------------------------start of first content ---------------------------------- */
.first_content{

}
                        /* ------------ start of first content  img ---------------- */
.first_content_img{
    position: relative;
    width:100%;
    height:550px;
    background-image:url('../images/joker.jpg');
    color: white;
    margin-bottom: 40px;
}
.first_content_img h1{
    color: rgb(214, 214, 214);
    text-align: center;
    font-size: 60px;
    line-height: 400px;
}
.first_content_img h3{
    text-align: center;
    margin-top: -200px;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
}
                        /* ------------ end of first content  img ---------------- */

                        /* ------------ start of first content  advantages ---------------- */
.first_content .advantages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.first_content .advantages>div{
    width:30%;
    text-align: center;
    padding: 5px;
}
.first_content .advantages img{
    color: blue;
    width:60px;
    height:60px;
}

.first_content .advantages div h4{
    text-align: center;
    margin-top: 5px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.589);
}