*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* -------------------------------start of nav ---------------------------------- */
nav{
    position: relative;
    display: flex;
    padding: 12px;
    background-color: white;
    padding-left: 80px;
    justify-content: space-between;
    padding-bottom: 20px;
}
                        /* ------------ start the list bottun ---------------- */
nav .content_list{
    position: absolute;
    width: 40px;
    height: 27px;
    right: 80px;    
    top: 23px;
    padding: 1px;
}
nav .content_list div{
    width: 39px;
    height: 2.5px;
    background-color: black;
    margin-bottom: 6px;
}

nav .content_list div:nth-child(2){
    visibility: hidden;
}
nav .content_list::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 2.5px;
    background-color: black;
    margin-bottom: 6px;
    top: 35%;
    right: 1px;
}
nav .content_list:hover::before{
    width: 38px;
    animation-name: full_width;
    animation-duration: 0.5s;
}
nav .content_list ul{
    position: relative;
    list-style-type: none;
    list-style-position: inside;
    visibility: hidden;
    background-color: #F6F6F6;
    width: 160px;
    padding: 10px;
    margin-top: 10px;
    right: 140px;
    z-index: 100;
}
nav .content_list ul:hover{
    opacity: 100%;
    visibility: visible;
}
nav .content_list ul::after{
    content: "";
    position: absolute;
    border: 10px solid blue;
    border-color: transparent transparent #F6F6F6 transparent;
    top: -6px;
    left: 90%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
nav .content_list ul::before{
    content: "";
    position: absolute;
    top: -30px;
    right: -20px;
    width: 40px ;
    height: 24px;
    z-index: 100;
    visibility: visible;
    
}
nav .content_list ul li{
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
    padding-right: 80px;
    padding-left: 10px;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.39);
}
nav .content_list ul li:last-child{
    border-bottom: none;
}
nav .content_list ul li:hover{
    padding-left: 30px;
    animation-name: moving_text;
    animation-duration: 0.7s;
}
nav .content_list ul li button{
    width: fit-content;
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
                        /* ------------ end the list bottun ---------------- */


/* -------------------------------end of nav ---------------------------------- */
                                        /* -
                                        -
                                        - */
/* -------------------------------start of first content ---------------------------------- */
.first_content{
    background-color: rgba(0, 0, 255, 0.164);
}
                        /* ------------ start of first content  img ---------------- */
.first_content_img{
    position: relative;
    width:100%;
    height:550px;
    background-image:url('../images/joker.jpg');
    color: white;
    margin-bottom: 40px;
}
.first_content_img h1{
    color: rgb(214, 214, 214);
    text-align: center;
    font-size: 60px;
    line-height: 400px;
}
.first_content_img h3{
    text-align: center;
    margin-top: -200px;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
}
                        /* ------------ end of first content  img ---------------- */

                        /* ------------ start of first content  advantages ---------------- */
.first_content .advantages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #D5D5FF;
}
.first_content .advantages>div{
    width:30%;
    text-align: center;
    padding: 5px;
}
.first_content .advantages img{
    color: blue;
    width:60px;
    height:60px;
}

.first_content .advantages div h4{
    text-align: center;
    margin-top: 5px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.589);
}

                        /* ------------ end of first content  advantages ---------------- */
                        /* -------------------------------end of first content ---------------------------------- */

                        /* -------------------------------start of sevices  ---------------------------------- */

.services{
    padding-top: 40px;
    background-color: white;
}
                        /* ------------ start logo ---------------- */

.services .logo h1{
    text-align: center;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.171);
}
.services .logo  p{
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    margin-top: -33px;
    color: rgba(0, 0, 0, 0.596);
}
                        /* ------------ end logo ---------------- */

                        /* ------------ start services content ---------------- */


.services .s_content{
    margin-top: 40px;
    display: grid;
    justify-content: space-evenly;
    align-content: space-between; 
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
    column-gap: auto; 
    row-gap: 20px; 
}
.services .s_content div{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 50%;
    margin-bottom: 40px;
}
.services .s_content div span{
    display: block;
    font-weight: bold;
    font-size: 25px;
}
.services .s_content div h3{
    margin-left: 60px;
    color: rgba(0, 0, 0, 0.356);
}
.services .s_content>div>img:not(.side){
    width: 60px;
    height: 60px;
}
.services .s_content .three{
    grid-column: 3/4;
    grid-row: 1/3;
    position: relative;
    z-index: 100;
}
.services .s_content .three::after{
    content: "";
    position: absolute;
    background-color: #2C4755;
    width: 80px;
    height: 114%;
    right: -80px;
    top: -7%;
    z-index: -1;
}
.services .s_content .three img{
    width: 260px;
    height: 400px;
    margin-left: -160px;
}
                        /* ------------ end services content ---------------- */
                /* -------------------------------end of sevices  ---------------------------------- */
                
                /* -------------------------------start of portfolio  ---------------------------------- */
                        /* ------------ start portfolio logo ---------------- */

.portfolio .logo{
    padding: 8px;
    background-color: #f6f6f6;
    padding-bottom: 40px;
}
.portfolio .logo h1{
    text-align: center;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.171);
}

.portfolio .logo  p{
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    margin-top: -33px;
    color: rgba(0, 0, 0, 0.596);
}
                        /* ------------ end portfolio logo ---------------- */
                        /* ------------ start portfolio content ---------------- */
.portfolio .p_content{
    display: flex;
    flex-wrap: wrap;
    background-color: #F6F6F6;
    justify-content: space-evenly;
    align-content: space-between;
}
.portfolio .p_content div{
    text-align: left;
}
.portfolio .p_content div img{
    width: 450px;
    height: 253.125px;
}
.portfolio .p_content div p{
    font-size: 20px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.486);
    font-weight: bold;
}
.portfolio .p_content div p,
.portfolio .p_content div h2{
    padding-left: 15px;
}
                        /* ------------ end portfolio content ---------------- */
