/* -------------------------phone screen------------------------- */
@media (min-width:320px) and (max-width:414px){
    nav{
        padding-left: 25px;
    }
        nav .content_list{
            right: 20px;   
        }
        /* ------media for first content advanteges------ */
        .first_content .advantages>div{
            width:100%;
            align-content: space-between;
            margin-bottom: 20px;
        }
        /* ------media for sevices logo----- */
        .services .logo h1{
            font-size: 60px;
        }
        .services .logo p{
            font-size: 18px;
            margin-top: -22px;
        }
        /* ------media for services content------ */
        .services .s_content .three{
            display: none;
        }
        .services .s_content{
            grid-template-columns: repeat(1,auto);
            grid-template-rows: repeat(2,auto);
            margin-left: 60px;

        }
        .services .s_content span{
            margin-left: 65px;
        }
        .services .s_content img{
            margin-left: 65px;
        }
        /* ------media for sportfolio content------ */
        .portfolio .p_content div img{
            width: 300px;
            height: 168.75px;
        }
        .portfolio .p_content div{
            text-align: center;
            width: 290px;
        }
            /* ------media for about content------ */
    .about .a_content :nth-child(2)::before,
    .about .a_content :nth-child(3)::after,
    .about .a_content :nth-child(3)::before{
        display: none;
    }
    .about .a_content{
        grid-template-columns: auto;
        grid-template-rows:repeat(3,auto);
        row-gap: 60px;
    }
    .about .a_content img{
        grid-row: 1/2;
        width: 200px;
        margin-left: 80px;
    }
    .about .a_content :nth-child(2),
    .about .a_content :nth-child(3){
        text-align: center;
    }
    .about .a_content :nth-child(2)::after{
        bottom: -40px;
        left: 50%;
    }
    .contact .c_contact a{
        display: none;
    }
    .contact .c_content p:first-child{
        font-size: 20px;
    }
    .contact .c_content p:last-child{
        font-size: 20px;
    }
    .contact .c_content img{
        width: 20px;
        height: 20px;
    }
    
}

@media (min-width:415px) and (max-width:812px){
    .first_content  .advantages>div{
        align-content: space-between;
        margin-bottom: 20px;
        width:50%;
    }
            /* ------media for services content------ */
    .services .s_content .three{
        display: none;
    }
    .services .s_content{
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2,auto);
        margin-left: 60px;

    }
    .services .s_content span{
        margin-left: 65px;
    }
    .services .s_content img{
        margin-left: 65px;
    }
        /* ------media for about content------ */
        .about .a_content :nth-child(2)::before,
        .about .a_content :nth-child(3)::after,
        .about .a_content :nth-child(3)::before{
            display: none;
        }
    
}

/* ----------------------------computer screen--------------------- */
@media (min-width:1024px) and (max-width:1050px){
        /* ------media for services content------ */
    .services .s_content .three{
        display: none;
    }
    .services .s_content{
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2,auto);
        column-gap: 0ch;
        row-gap: 10px;
        width: fit-content;
    }
    .about .a_content p{
        width: fit-content;
    }
    /* ------media for about content------ */
    .about .a_content :nth-child(2)::before,
    .about .a_content :nth-child(3)::after,
    .about .a_content :nth-child(3)::before{
        display: none;
    }
}

@media (min-width:1112px){

}