/* -------------------------phone screen------------------------- */
@media (min-width:320px) and (max-width:414px){
    nav{
        padding-left: 25px;
    }
        nav .content_list{
            right: 20px;   
        }
        /* ------media for first content advanteges------ */
        .first_content .advantages>div{
            width:100%;
            align-content: space-between;
            margin-bottom: 20px;
        }
        /* ------media for sevices logo----- */
        .services .logo h1{
            font-size: 60px;
        }
        .services .logo p{
            font-size: 18px;
            margin-top: -22px;
        }
        /* ------media for services content------ */
        .services .s_content .three{
            display: none;
        }
        .services .s_content{
            grid-template-columns: repeat(1,auto);
            grid-template-rows: repeat(2,auto);
        }
        .services .s_content div{
            text-align: center;
        }
        
}

@media (min-width:415px) and (max-width:812px){
    .first_content  .advantages>div{
        align-content: space-between;
        margin-bottom: 20px;
        width:50%;
    }
            /* ------media for services content------ */
    .services .s_content .three{
        display: none;
    }
    .services .s_content{
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2,auto);
    }
}

/* ----------------------------computer screen--------------------- */
@media (min-width:1024px) and (max-width:1112px){
        /* ------media for services content------ */
    .services .s_content .three{
        display: none;
    }
    .services .s_content{
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2,auto);
    }
}

@media (min-width:1112px){

}