/* -------------------------phone screen------------------------- */
@media (min-width:320px)and (max-width:414px){
    nav{
        padding-left: 25px;
    }
        nav .content_list{
            right: 20px;   
        }
        /* body{
            background-color: red;
        } */
    
}

@media (min-width:568px)and(max-width:812px){
    /* body{
        background-color: red;
        z-index: 100;
    } */
}

/* ----------------------------computer screen--------------------- */
